
  h1{
    font-family: Arial;
    font-size: 70px;
  }
  h2{
    font-family: Monotype Corsiva;
    font-size: 40px;
    margin-bottom: 20px;
  }
  p{ 
    margin-top: 20px;
    font-family: Quicksand;
    font-size: 25px;
    color: rgb(0, 8, 13);
    text-align: justify;
  }
  .image{
    text-align:center;
    width:100%;
  }
  .caption {
    text-align: center;
    color: rgb(15, 15, 62);
  }
  .container{
    /* border: 5px solid red; */
    background-color: rgba(3, 25, 80, 0.176);
  }
  .container-fluid{
    /* border: 5px solid rgb(51, 13, 13); */
    padding: 20px;
  }